<div class="container-fluid">
  <!-- <div class="text-center">
    <span class="text-center"><b>Appointments</b></span>
  </div> -->
  <div class="card">
    <div class="card-header text-center">
      <b>Appointments</b>
    </div>
    <div class="card-body">
      <h5 class="card-title">Appointment Date: <b>{{ appointmentDate | dateFormat:"dd MMM yyyy"}}</b></h5>
        <div class="row">
          <div class="col">
            <label for="">From: </label>
            <dp-time-select theme="dp-material" id="timer1" [config]="fromTimerConfig" [(ngModel)]="fromTime"></dp-time-select>
          </div>
          <div class="col">
            <label for="">To: </label>
            <dp-time-select theme="dp-material" id="timer2" [config]="toTimerConfig" [(ngModel)]="toTime"></dp-time-select>
          </div>
        </div>

      <button class="btn btn-primary mt14" (click)="submitData()">Submit</button>
    </div>
  </div>
</div>
