<div class="container-fluid">
  <nav aria-label="breadcrumb" class="mt14">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>

  <div class="card" >
    <div class="card-header">
      Filters
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-1">
          <label for="">Date: </label>
        </div>
        <div class="col-sm-2">
          <dp-date-picker (onSelect)="onDateChange($event)" theme="dp-material"></dp-date-picker>

        </div>
        <div class="col-sm-2">
          <button class="btn btn-info" (click)="filterData()">Search</button>
        </div>
      </div>

    </div>
  </div>

  <div class="mt14 text-right">
    No. of Appointments: {{ appointmentList.length }}
  </div>
  <div class="mt14 text-right">
    Filtered Date: {{ filterDate | dateFormat:"MM/dd/yyyy" }}
  </div>

  <table class="table table-bordered mt14" style="border-color: black;">
    <thead>
      <tr class="text-center bg-info">
        <th scope="col" class="custom-col-width">S.No</th>
        <th scope="col" class="custom-col-width">Patient</th>
        <th scope="col" class="custom-col-width">Contact</th>
        <th scope="col" class="custom-col-width">Appointment Date</th>
        <th scope="col" class="custom-col-width">Start Time</th>
        <th scope="col" class="custom-col-width">End Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointmentList | paginate: { itemsPerPage: 5, currentPage: pageNumber }; let i = index;">
        <td>{{ appointment._id }}</td>
        <td>{{ appointment.patientName }}</td>
        <td>{{ appointment.contactNumber }}</td>
        <td>{{ appointment.appointmentDate | dateFormat:"dd/MMM/yyyy" }}</td>
        <td>{{ appointment.appointmentStartTime | dateFormat: "hh:mm" }}</td>
        <td>{{ appointment.appointmentEndTime | dateFormat:"hh:mm" }}</td>
      </tr>
      <tr *ngIf="appointmentList.length === 0">
        <td colspan="6" class="text-center">No Records found</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls style="text-align:right" (pageChange)="pageNumber = $event"></pagination-controls>
</div>
