/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size:0.90rem;
}
